body,
.navbar,
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar {
    opacity: 0.5;
    position: relative;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
}

.navbar span {
    opacity: 1;
    position: absolute;
    left: 17.5px;
    top: calc(50% - 10px);
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: #999;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}

.navbar span:nth-child(3) {
    top: calc(50% + 6px);
}

.navbar ul {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}

.navbar ul li {
    list-style: none;
    /* 元素间距 */
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
    color: #ffffff;
}


/* 拉伸后长度 */

.navbar input:checked~ul {
    width: 350px;
}

.navbar input:checked~span:nth-child(2) {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.navbar input:checked~span:nth-child(3) {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}