* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-image: url('../picture/anime/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    margin-left: 15%;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
}

.container ul {
    width: auto;
    height: auto;
}

.container ul li {
    width: 150px;
    height: 150px;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.container ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.container ul li a img {
    width: 100px;
    height: 100px;
}

.container ul li p {
    color: black;
}

.navbar {
    z-index: 9;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    position: fixed;
    padding: 20px;
    border-radius: 70px;
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar:hover {
    opacity: 1;
    background-image: url('../picture/25.jpg');
    background-size: cover;
}

.navbar input {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}


/* 拉伸后长度 */

.navbar input:checked~ul {
    width: 0;
}

.navbar span {
    opacity: 1;
    position: absolute;
    left: 17.5px;
    top: calc(50% - 10px);
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: #999;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}

.navbar span:nth-child(3) {
    top: calc(50% + 6px);
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}

.navbar ul li {
    list-style: none;
    /* 元素间距 */
    margin: 0 auto;
}

.navbar ul li a {
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
    color: #ffffff;
}

.navbar input:checked~span:nth-child(2) {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.navbar input:checked~span:nth-child(3) {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}