body {
    margin: 0;
    padding: 0;
    background: url('https://windserver.top/picture/5.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 50px;
}

.box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box-h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}

body {
    display: flex;
}

.navbar {
    z-index: 20;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    position: relative;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(209, 209, 209, 0.4);
}

.navbar:hover {
    opacity: 1;
    background-image: url('https://windserver.top/picture/25.jpg');
    background-size: cover;
}

.navbar input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
}


/* 拉伸后长度 */

.navbar input:checked~ul {
    width: 0;
}

.navbar span {
    opacity: 1;
    position: absolute;
    left: 17.5px;
    top: calc(50% - 10px);
    width: 30px;
    height: 4px;
    border-radius: 15px;
    background-color: #999;
    pointer-events: none;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}

.navbar span:nth-child(3) {
    top: calc(50% + 6px);
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
}

.navbar ul li {
    list-style: none;
    /* 元素间距 */
    margin: 0 auto;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
    color: #ffffff;
}

.navbar input:checked~span:nth-child(2) {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.navbar input:checked~span:nth-child(3) {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #fb7299;
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}